@import "reset";
@import "variables";
@import "placeholders";
@import "functions";
@import "mixins";
@import "objects";

body {
  font-size: 62.5%;
  font-family: sans-serif;
  color: $dark;
  background: $white;
}

* {
  box-sizing: border-box;
}

.wrapper {
  background: $white;
}
